body{
  background-color: var(--main-background-color);
}


nav{
  align-items: center;
  font-family: var(--font-title);
  font-weight: 400;
}


.navLink{
  display: flex;
  gap: 2rem;
  font-size: var(--font-text-size);
}


.header{
  width: 100%;
  background-color: #effffa9f;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

nav{
 position: sticky;
}

.buttonProject{
  font-size: 1.2rem;
}

.textBox{
  box-shadow: -1px 2px 13px 1px #00000038;
  margin: 2rem;
  width: 50%;
  padding: 1rem;
  border-radius: 15px;
  justify-items: center;
}

.textBox h2{
  margin-bottom: 0.7rem;
  color: var(--font-title-color);
}

.entryVideo{
  position: relative;
  width: 100vw;
}
.glitch-wrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 2rem;
}

.glitch {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: #FFFFFF;
  letter-spacing: 3px;
  z-index: 1;
  
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #00FFFF;
  z-index: -1;
}

.glitch:after {
  animation: glitch-it 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
  color: #FF00FF;
  z-index: -2;
}

.svg-curve{
  width: 100vw;
}




@keyframes glitch-it {
  0% {
     transform: translate(0);
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
  60% {
     transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  to {
    transform: translate(0);
  }
}

.midContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80ch;
}
.ninoPic{
  border: 4px solid rgb(32, 29, 29);
  border-radius: 50%;
  width: 40%;
  animation: bounce-top 2s linear;
}

.midContent p{
  font-family: var(--font-text);
  font-weight: 400;
}

.midContent h2{
  font-family: var(--font-title);
  font-weight: 450;
  font-size: var(--font-title-sizeM);
  color: var(--font-title-color);
}

.technoGif{
  width: 55%;
}

.hardSkills {
  width: 90%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-around;
  border: 0px solid black;
  border-radius: 15px;
  box-shadow: 1px 1px 9px 1px #0000002b;
  margin-top: 4rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s, transform 1s ease-in-out; 
}

.hardSkills.active {
  opacity: 1;
  transform: translateY(0); 
}

.hardSkills h3{
  padding-bottom: 0.5rem;
  text-align: center;
  font-family: var(--font-title);
  font-size: var(--font-title-sizeM);
  color: var(--font-title-color);
}

.iconeSkills{
  width: 15%;
}

.reactSpin{
  animation: spin 10s linear infinite;
}

.tailwindWave{
animation: wave 4s ease-in-out infinite;
}

li{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: var(--font-text);
  font-weight:400 ;
}

.projectContainer{
  display: flex;
  width: 100%;
  height: 15rem;
  gap: 1rem;
  padding: 1rem;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.projectContainer.active {
  opacity: 1;
  transform: translateY(0);
}

.projectTitle{
  font-size: var(--font-title-sizeM);
  font-family: var(--font-title);
  text-align: left;
  color: var(--font-title-color);
}

.projectContainer:hover .card:not(.card:hover){
  transform: scale(0.9);
  filter: saturate(0) blur(4px) brightness(0.5);
}

.card{
  width:100%;
  height: 100px;
}

.card img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.card:hover{
  transform: scale(1.3);
  z-index: 1;
}

footer{
  background-color: rgba(0, 0, 0, 0.233);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}
.socialLink{
  display: flex;
  justify-content: end;
}

.socialLink img {
  width: 3rem;
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
            transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
            transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
            transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}


@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes wave {
  0% {
    transform: translateY(0%) scale(1);
  }
  25% {
    transform: translateY(-5%) scale(1.1);
  }
  50% {
    transform: translateY(0%) scale(1);
  }
  75% {
    transform: translateY(5%) scale(1.1);  
  }
  100% {
    transform: translateY(0%) scale(1);
  }
}