.titlePageGame{
  font-family: var(--font-title);
  font-size: var(--font-title-sizeS);
  padding: var(--padding-rem);
  text-align: center;
}

.game-card{
  display: flex;
  flex-direction: column;
  padding: var(--padding-rem);
  text-align: center;
}
.game-card h2{
  font-family: var(--font-title);
}

.game-card p{
  font-family: var(--font-text);
}

.game-img{
  width: 80%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px black;
  animation: shadow-pop-tr 2s ease-in forwards;
}

.click-icone{
z-index: 1;
  width: 10%;
}

.game-card a{
  justify-items: center;
}


@keyframes shadow-pop-tr {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
