@font-face {
  font-family: 'Faculty';
  src: url('./src/assets/Fonts/FacultyGlyphic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./src/assets/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root{
  --font-text : "Poppins";
  --font-title: "Faculty";
  --font-title-sizeXL: 2rem;
  --font-title-sizeM: 1.5rem;
  --font-title-sizeS: 1.3rem;
  --font-title-color: #5D89BA;
  --padding-rem: 1rem;
  --main-background-color: #F0F8FF;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}
