:root{
  --font-text : "Ubuntu";
  --font-title: "Kanit";
  --font-title-sizeM: 1.5rem;
  --font-title-sizeS: 1.3rem;
  --font-text-size: 1rem;
  --padding-rem: 1rem;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}
